<template lang="pug">
  nuxt-child
</template>

<script>
export default {
  layout: 'default+profileheader',
  validate({ params, query, store }) {
    // if the params are not valid (regex evaluates to false), then it
    // will stop Nuxt.js to render the route and display the error page
    return /^@.*/.test(params.id)
  }
}
</script>
