<template lang="pug">
  centered.d-flex.flex(style="margin-top:20px;")
    //- Major query of the page. Skips reactive querying (querying on parameters change)
    //- after the initial query. All other queries are *triggered* externally (either)
    //- via timeout, or via manual action (search, refresh by clicking on the header)
    apollo-query(
      ref="index"
      :query="$options.listCorporaGql"
      :variables="corporaQueryVariables"
      fetchPolicy="cache-and-network"
      :debounce="300"
      :skip="skip"
      clientId="noAuth"
      @loading="(loading) => loading ? $nuxt.$loading.start() : $nuxt.$loading.finish()"
      #default="{ result: { loading, error, data }, isLoading, query }"
    )
      //-
      //- Search bar
      //-
      .fullwidth.mb-15
        .form-autocomplete.col-6.col-mx-auto
          .form-autocomplete-input.form-input.has-icon-right
            .chip(v-for="(tag, index) in searchTags" :key="tag.name")
              span {{ tag.name }}
              a.btn.btn-clear(label="Close" tabindex=0 @click="() => removeSearchTag(index)" @keyup.enter="() => removeSearchTag(index)")
            input.form-input#search(
              v-intro="`This is the main search bar, to find corpora based on their description and title. Begin typing, and you will get suggestions for authors, tags and categories too! Beware, only corpora known to this instance are shown - it doesn't know about corpora of all OLKi instances.`"
              name="search"
              ref="search"
              autocomplete="off"
              v-model="search"
              type="text"
              :placeholder="$t('search corpora')"
              :autofocus="'autofocus'"
              @keyup.enter="refetchSearch(query)"
              @focus="() => hasFocusSearch = true"
              @input="() => hasFocusSearch = true"
              v-on-dismiss="{callback: () => hasFocusSearch = false}"
            )
            i.material-icons.form-icon.righticon.c-hand(v-if="search" @click="resetFilters") backspace
            //i.material-icons.input-group-addon filter_list
          div(
            v-if="hasSearch && hasNewSearch && hasFocusSearch"
            style="width:100%;height:0"
          )
            .menu
              li.menu-item
                a(@click="refetchSearch(query)" @keyup.enter="refetchSearch(query)" tabindex=0)
                  .tile.tile-centered
                    .tile-content(style="line-height:1;")
                      md-icon.mr-2 search
                      span {{ `Search` }}
                      span(v-if="search") {{ ` for "${search}"` }}
                      span(v-if="searchTags.length !== 0") {{ ` with ${searchTags.length} ${$options.filters.lowercase($i18n.tc('tag', searchTags.length))}` }}
              div(v-if="typeahead && typeahead.tags && typeahead.tags.length > 0")
                .divider(data-content="Tags")
                li.menu-item(v-for="tag in typeahead.tags" :key="tag.name")
                  a(
                    @click="() => addSearchTag(tag.name, 'tag', tag.code)"
                    @keyup.enter="() => addSearchTag(tag.name, 'tag', tag.code)"
                    tabindex=0
                  )
                    .tile.tile-centered
                      .tile-content
                        span(v-html="highlight(tag.name)")
                        .text-gray {{ tag.description }}
              div(v-if="typeahead && typeahead.authors && typeahead.authors.length > 0")
                .divider(data-content="Authors")
                li.menu-item(v-for="author in typeahead.authors" :key="author")
                  a(
                    @click="() => addSearchTag(author, 'author', author)"
                    @keyup.enter="() => addSearchTag(author, 'author', author)"
                    tabindex=0
                  )
                    .tile.tile-centered
                      .tile-content
                        span(v-html="highlight(author)")
              div(v-if="typeahead && typeahead.organizations && typeahead.organizations.length > 0")
                .divider(data-content="Organizations")
                li.menu-item(v-for="organization in typeahead.organizations" :key="organization")
                  a(
                    @click="() => addSearchTag(organization, 'organization', organization)"
                    @keyup.enter="() => addSearchTag(organization, 'organization', organization)"
                    tabindex=0
                  )
                    .tile.tile-centered
                      .tile-content
                        span(v-html="highlight(organization)")
        .col-6.col-mx-auto.text-gray.d-flex
          small.col-ml-auto(v-if="data && data.corpora") {{ data.corpora.totalCount }} {{ $tc("result", data.corpora.totalCount) }}
          apollo-query(
            v-show="data && data.corpora"
            tag="small"
            ref="follows"
            fetchPolicy="cache-and-network"
            :query="$options.listInstanceFollowsGql"
            #default="{ result: { loading, error, data }, isLoading, query }"
          )
            .ml-1(v-if="data && data.follows && data.follows.totalCount") from {{ data.follows.totalCount + 1 }} instances
          small.c-hand.ml-1(v-if="hasNewSearch" @click="() => resetToPreviousSearch()") · reset to current query

      //-
      //- Table list and state
      //-
      div(v-if="isLoading && !data")
        //- NO CORPUS: LOADING. Empty state when fetching corpora
        .empty
          spinner(:text="$t('fetching', { thing: $options.filters.lowercase($tc('corpus', 2)) })")
      div(v-else-if="error")
        //- NO CORPUS: ERROR. In case no corpus is found (yet?) we show an empty state
        centered
          .empty(v-if="error.networkError")
            server-down(height="240" primaryColor="rgba(var(--color-primary), 0.8)")
            p.empty-title.h5 There was a network error reaching the server
            p.empty-subtitle You might want to check you internet connection.
            .empty-action
              z-button.mr-2(size="sm" @click="refetchSearch(query)")
                <z-icon tabindex="-1" name="autorenew" /> Retry loading {{ $tc('corpus', 2) | lowercase }}
          .empty(v-else-if="error")
            warning(height="240" primaryColor="rgba(var(--color-primary), 0.8)")
            p.empty-title.h5 There was an error querying the server
            .empty-action.col-mx-auto(style="max-width:70vw;")
              .card.text-left
                .card-header.h6 Error log
                .card-body
                  pre {{ error }}
            .empty-action
              z-button.mr-2(size="sm" @click="refetchSearch(query)")
                <z-icon tabindex="-1" name="autorenew" /> Retry loading {{ $tc('corpus', 2) | lowercase }}

      div(v-else-if="data && data.corpora && data.corpora.edges.length > 0" style="min-height:50vh")
        //- CORPUS: FETCHED.
        //- Table body
        corpus-grid(
          :corpora="data.corpora.edges.map(e => parseCorpus(e.node))"
          :key="data.corpora.edges.length"
        )
        //- Show more button
        .empty(v-if="data.corpora.pageInfo && data.corpora.pageInfo.hasNextPage")
          z-button(@click="loadMore(query, data)") {{ $t('show more') }}
      div(v-else)
        //- NO CORPUS: NO MATCH OR NO CORPUS AT ALL.
        .empty
          no-data(height="240" primaryColor="rgba(var(--color-primary), 0.8)")
          p.empty-subtitle {{ $t('blank corpora help', { thing: search ? ' matching this query' : '' }) }}
          .empty-action(v-if="search")
            z-button(size="sm" @click="() => { resetFilters(); refetchSearch(query) }") {{ $t('blank corpora reset') }}
          .empty-action(v-else)
            .d-flex.col-mx-auto(v-if="isAuthenticated" style="width:max-content;")
              nuxt-link(tabindex="-1" :to="{ path: localePath('account-corpora-create') }")
                z-button(size="sm") #[i.material-icons(style="position:relative;top:-1px;margin-right:0;") add] {{ $t('add a corpus') | capitalize({ onlyFirstLetter: true }) }}
              .divider-vert(data-content="or")
              nuxt-link(tabindex="-1" :to="{ path: localePath('account-corpora-import') }")
                z-button(size="sm") #[i.material-icons(style="position:relative;top:-1px;margin-right:0;") get_app] {{ $t('Import corpus') | capitalize({ onlyFirstLetter: true }) }}
            nuxt-link(v-else tabindex="-1" :to="{ path: localePath('about'), query: { to: 'login' } }")
              z-button.mr-2(size="sm")
                <z-icon tabindex="-1" name="account_circle" /> {{ $t('login to add') | capitalize({ onlyFirstLetter: true }) }}
      .empty-action.col-mx-auto.text-left(style="max-width: 60rem;margin-top:2rem;display:grid;grid-template-columns:2fr auto;grid-gap:1rem;")
        development-card(v-if="isDev")
        instance-card(style="min-width:30vw")

</template>

<script>
/* eslint-disable */
import { mapGetters, mapState } from 'vuex'
import vueDismiss from 'vue-dismiss'

import Centered from '~/components/sublayouts/Centered.vue'
import Spinner from '~/components/Spinner.vue'
import CorpusGrid from '~/components/CorpusGrid.vue'
import NoData from 'vue-undraw/UndrawNoData'
import Warning from 'vue-undraw/UndrawWarning'
import ServerDown from '~/components/empty-states/UndrawServerDown'
import DevelopmentCard from '~/components/DevelopmentCard'
import InstanceCard from '~/components/InstanceCard'

import listCorporaGql from '~/apollo/queries/listCorpora'
import listInstanceFollowsGql from '~/apollo/queries/listInstanceFollows'
import listTypeaheadGql from '~/apollo/queries/listTypeahead'
import {
  baseQueryVariables,
  parseCorpus,
  parseSearchTags
} from '~/apollo/queryBuilderCorpus'

import { debounce } from 'throttle-debounce'
import cloneDeep from 'lodash/cloneDeep'

import environment from '~/mixins/environment'

var deepEqual = require('fast-deep-equal/es6')

export default {
  listCorporaGql,
  listInstanceFollowsGql,

  components: {
    // layout components:
    Centered,
    CorpusGrid,
    // cosmetic components:
    Spinner,
    NoData,
    Warning,
    ServerDown,
    DevelopmentCard,
    InstanceCard
  },
  mixins: [environment, vueDismiss],
  data() {
    return {
      skip: false,
      initialized: false,
      search: '',
      searchTags: [],
      previousSearch: {
        search: '',
        searchTags: []
      },
      hasFocusSearch: false,
      VuexUnsubscription: null
    }
  },
  head() {
    return {
      title: `${this.getInstanceName} - Home`,
      link: [
        {
          rel: 'alternate',
          href: this.baseURL + '/corpus/rss.xml',
          title: `${this.getInstanceName} RSS`,
          type: 'application/rss+xml'
        },
        {
          rel: 'alternate',
          href: this.baseURL + '/corpus/atom.xml',
          title: `${this.getInstanceName} Atom`,
          type: 'application/atom+xml'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('instance', ['getInstanceName']),
    ...mapState('auth', ['isAuthenticated']),
    ...mapGetters('user', ['isAdministrator']),
    hasSearch() {
      return this.search || this.searchTags.length !== 0
    },
    hasNewSearch() {
      return (
        this.search !== this.previousSearch.search ||
        !deepEqual(this.searchTags, this.previousSearch.searchTags)
      )
    },
    watchedSearch() {
      return {
        search: this.search,
        searchTags: this.searchTags
      }
    },
    corporaQueryVariables() {
      return {
        ...baseQueryVariables,
        // used later for fetchMore
        after: undefined,
        // search:
        fullText: this.search,
        // searchTags:
        language: this.searchTags
          .filter(t => t.type === 'lang')
          .map(t => t.filtervalue)
          .join(','),
        tagsCode_AllIn: this.searchTags
          .filter(t => t.type === 'tag')
          .map(t => t.filtervalue)
          .join(','),
        authorsName_AllIn: this.searchTags
          .filter(t => t.type === 'author')
          .map(t => t.filtervalue)
          .join(','),
        organizations_AllIn: this.searchTags
          .filter(t => t.type === 'organization')
          .map(t => t.filtervalue)
          .join(',')
      }
    }
  },
  watch: {
    watchedSearch: debounce(300, function() {
      this.$router.replace({
        query: {
          q: this.search,
          tag: this.searchTags.map(v => JSON.stringify(v))
        }
      })
    })
  },
  created() {
    this.search = this.$route.query.q
    this.searchTags = this.$route.query.tag
      ? parseSearchTags(this.$route.query.tag)
      : []
    this.previousSearch = cloneDeep({
      search: this.search,
      searchTags: this.searchTags
    })
  },
  mounted() {
    // Index query should not be triggered for each search/variable change
    this.skip = true

    // We subscribe to some events outside of the component (i.e.: external request to refresh)
    this.VuexUnsubscription = this.$store.subscribeAction((action, state) => {
      if (action.type === 'corpora/INDEX_REFRESH') {
        this.$nextTick(() => {
          this.refetchSearch(this.$refs.index.$_apollo.queries.query)
        })
      }
    })
  },
  destroyed() {
    this.VuexUnsubscription()
  },
  apollo: {
    $client: 'noAuth', // override the client for all the requests
    typeahead: {
      query: listTypeaheadGql,
      fetchPolicy: 'no-cache',
      debounce: 300, // ms
      variables() {
        return {
          name: this.search
        }
      },
      update: data => {
        return {
          ...data
        }
      },
      watchLoading(isLoading, countModifier) {
        countModifier === 1
          ? this.$nextTick(() => {
              this.$nuxt.$loading.start()
            })
          : this.$nextTick(() => {
              this.$nuxt.$loading.finish()
            })
      },
      skip() {
        return !this.search || this.search === ''
      }
    }
  },
  methods: {
    parseCorpus,
    refetchSearch: debounce(500, async function(query) {
      this.skip = false
      await query.refetch()
      this.skip = true
      this.previousSearch = cloneDeep({
        search: this.search,
        searchTags: this.searchTags
      })
    }),
    async loadMore(query, data) {
      await query.fetchMore({
        variables: {
          after: data.corpora.pageInfo.endCursor
        },
        updateQuery: (prev, { fetchMoreResult }) => {
          try {
            if (
              !fetchMoreResult ||
              fetchMoreResult.corpora.edges.length === 0
            ) {
              return prev
            }
            return Object.assign({}, prev, {
              corpora: {
                ...fetchMoreResult.corpora,
                edges: [...prev.corpora.edges, ...fetchMoreResult.corpora.edges]
              }
            })
          } catch (e) {
            console.log(e)
          }
        }
      })
    },
    highlight(content) {
      return content.replace(new RegExp(this.search, 'gi'), match => {
        return '<mark>' + match + '</mark>'
      })
    },
    addSearchTag(name, type, filtervalue) {
      const o = {
        name,
        type,
        filtervalue
      }
      if (
        !this.searchTags.find(
          t => t.filtervalue === o.filtervalue && t.type === o.type
        )
      ) {
        this.searchTags.push(o)
      }
      this.search = ''
      this.typeahead = null
      this.$refs.search.focus()
    },
    removeSearchTag(index) {
      this.searchTags.splice(index)
      this.$refs.search.focus()
    },
    resetFilters() {
      this.search = ''
      this.searchTags = []
      this.$refs.search.focus()
    },
    resetToPreviousSearch() {
      let clone = cloneDeep(this.previousSearch)
      this.search = clone.search
      this.searchTags = clone.searchTags
      this.$refs.search.focus()
    }
  }
}
</script>

<style scoped>
.righticon {
  font-size: 0.9rem;
  top: 47%;
  right: 5px;
}
.form-autocomplete .menu {
  width: 100%;
  text-align: left;
  z-index: 10;
}
.menu .menu-item > a:active,
.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  background-color: rgba(var(--color-primary), 0.2) !important;
  border-color: rgba(var(--color-primary), 0.6) !important;
}
.divider-vert::after {
  background: rgba(var(--color-background), 1);
}
</style>
