<template lang="pug">
centered
  pending-functionality(:header="false" name="Social dashboard" icon="public")
</template>

<script>
import Centered from '~/components/sublayouts/Centered'
import PendingFunctionality from '~/components/PendingFunctionality'

export default {
  components: {
    Centered,
    PendingFunctionality
  }
}
</script>
