/* Tippy tooltips */
.tippy-tooltip.olki-theme {
  background-color: rgba(var(--color-foreground), 1);
	color: rgba(var(--color-text-light), 1);
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}
.tippy-tooltip.olki-theme .tippy-arrow {
  border-right-color: rgba(var(--color-foreground), 1);
}
.tippy-tooltip.olki-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.olki-theme .tippy-backdrop {
  background-color: rgba(var(--color-foreground), 1);
}