/* theme fixes */
.has-error .CodeMirror {
  border-color: #e85600 !important;
  border: 0.05rem solid #d6d4e8;
  border-radius: 0.1rem;
}

.vue-simplemde .editor-toolbar {
  border: none;
  text-align: left;

  & button {
    border: none;
  }
}

.CodeMirror {
  color: rgba(var(--color-text), 1.0) !important;
  text-align: left;
}

.markdown,
.CodeMirror {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    border-bottom: none !important;
    color: rgba(var(--color-text), 1.0) !important;
  }

  p {
    color: rgba(var(--color-text-light), 1.0) !important;
  }

  & h1 { font-size: 1.2rem !important; padding: 0; }
  & h2 { font-size: 1.1rem !important; padding: 0; }
  & h3 { font-size: 1rem !important; padding: 0; }
  & h4 { font-size: 0.9rem !important; padding: 0; }
  & h5 { font-size: 1.85rem !important; padding: 0; }
  & h6 { font-size: 1.8rem !important; padding: 0; }
}
