<template lang="pug">
.container
  ul.tab.tab-block
    li.tab-item.active
      a {{ $t('OAI-PMH import') }}
    li.tab-item
      a(@click="notImplemented($t('ActivityPub Corpus import'))") {{ $t('ActivityPub import') }}
  .import-container.text-left.mt-15
    .text-subtitle.text-gray.
      Most institutional repositories expose their corpora through OAI-PMH (#[a(:href="`${baseURL}/corpus/oai?verb=Identify`") this server does too!]),
      and you can find a list of available repositories at #[a(href="http://www.openarchives.org/Register/BrowseSites") http://www.openarchives.org/Register/BrowseSites].
      Beware, importing corpora from a provider requires to translate between formats, and we only have fully implemented
      parsers for common repositories.
      
    .divider

    .form-group
      label {{ $t('Import corpus from') }}
      multiselect(
        v-model="repositorySelected",
        deselect-label="Select another repository parser",
        track-by="name",
        label="name",
        :multiple="false"
        :allow-empty="false"
        placeholder="Select the repository type",
        :options="repositories"
        @input="() => { repositoryUrl = repositorySelected.url; namespaceIdentifier = repositorySelected.namespaceIdentifier }"
      )
        template(slot="singleLabel", slot-scope="{ option }")
          strong {{ option.name }} 
          span ({{ option.url }})
      .text-subtitle.text-gray.text-left.
        Repositories listed are the ones having full support. In case yours is not listed, 
        you still have to select one, ideally that structures its metadata closest to your 
        repository.

    .form-group
      label {{ $t('Repository OAI URL') }}
      input.form-input(
        type="url"
        v-model="repositoryUrl"
        name="repositoryUrl"
        placeholder="e.g. https://api.archives-ouvertes.fr/oai/hal/"
      )
      .text-subtitle.text-gray.text-left.
        Only fill if different from the selected supported repository parser.

    .form-group
      label {{ $t('OAI Identifier') }}
      apollo-query(
          :query="$options.alreadyClonedGql"
          :variables=`{
            clonedFrom_Contains: localIdentifier
          }`
          :skip="!localIdentifier"
          fetchPolicy="no-cache"
          :debounce="300"
          @loading="(loading) => loading ? $nuxt.$loading.start() : $nuxt.$loading.finish()"
          #default="{ result: { data } }"
        )
        .d-flex
          .input-group.col-4
            span.input-group-addon {{ scheme }}
            input.form-input(
              v-model="namespaceIdentifier"
              placeholder="Namespace identifier"
            )
          .col-8(
            :class="{ 'has-error': data && data.alreadyCloned }"
          )
            input.form-input(
              type="text"
              v-model="localIdentifier"
              name="localIdentifier"
              placeholder="e.g. halshs-02274433v1"
            )
        .text-subtitle.text-gray.text-left(v-show="data && data.alreadyCloned")
          label.error A corpus containing the same identifier has already been cloned on this site.
        .text-subtitle.text-gray.text-left.
          ID of the desired corpus. Usually, the last part of the web page URL of your corpus.

    .text-right
      apollo-mutation(
        :mutation="$options.createImportGql"
        :variables=`{
          oaiParser: repositorySelected.url,
          oaiRepository: repositoryUrl,
          oaiIdentifier: oaiIdentifier
        }`
        @loading="(loading) => loading ? $nuxt.$loading.start() : $nuxt.$loading.finish()"
        @done="redirectAfterAWhile"
        #default="{ mutate, loading, error }"
      )
        md-button.md-dense(:disabled="loading || done" @click="mutate()")
          span {{ $t('Import corpus') }}
          md-icon get_app
        p(v-if="error") An error occurred: {{ error }}
</template>

<script>
import Centered from '~/components/sublayouts/Centered'
import PendingFunctionality from '~/components/PendingFunctionality'

import environment from '~/mixins/environment'

import createImportGql from '~/apollo/mutations/createImport'
import alreadyClonedGql from '~/apollo/queries/alreadyCloned'

export default {
  createImportGql,
  alreadyClonedGql,

  components: {
    Centered,
    PendingFunctionality
  },
  mixins: [environment],
  data() {
    return {
      done: false,
      scheme: 'oai',
      namespaceIdentifier: '',
      localIdentifier: '',
      repositoryUrl: '',
      repositorySelected: [],
      repositories: [
        {
          name: 'HAL',
          namespaceIdentifier: 'HAL',
          url: 'https://api.archives-ouvertes.fr/oai/hal/'
        }
      ]
    }
  },
  computed: {
    oaiIdentifier() {
      return `${this.scheme}:${this.namespaceIdentifier}:${this.localIdentifier}`
    }
  },
  methods: {
    notImplemented(functionality) {
      this.$toast.show(
        this.$i18n.t('unimplemented functionality', { name: functionality }),
        {
          icon: 'warning'
        }
      )
    },
    redirectAfterAWhile() {
      this.done = true
      setTimeout(() => this.$router.push(this.localePath('home')), 2000)
    }
  }
}
</script>

<style lang="postcss" scoped>
ul div,
.import-container {
  margin-left: 1rem;
  margin-right: 1rem;
}
label.error {
  color: #e85600;
  margin-left: 0.5rem;
}
</style>
