<template lang="pug">
  centered
    .empty
      .empty-icon
        mail(height="200" primaryColor="rgba(var(--color-primary), 0.8)")
      p.empty-title.h5 {{ $t('account created mail') }}
      p.empty-subtitle {{ $t('account created mail help') }}
</template>

<script>
import Mail from 'vue-undraw/UndrawMailSent'
import Centered from '~/components/sublayouts/Centered.vue'

export default {
  components: {
    // layout components:
    Centered,
    // cosmetic components:
    Mail
  }
}
</script>

<style scoped>
i {
  font-size: 60px;
  max-width: 60px;
}
</style>
