<template lang="pug">
div
  .activity(:id="this.activity.pk" :class="{ comment }")
    .upper-actions
      //- Button to reference to the comment
      md-button.md-hyperdense.md-icon-button.hideaction(
        data-tippy-content="Copy link to the comment"
        data-tippy-placement="top"
        v-tippy
        v-clipboard="canonicalUrl"
      )
        i.material-icons.c-copy(style="font-size:0.7rem;") link
      //- Button to flag the comment
        md-button.md-hyperdense.md-icon-button.hideaction(
          v-if="!activity.objectDeleted && isAuthenticated"
          data-tippy-content="Report inappropriate content"
          data-tippy-placement="top"
          v-tippy
        )
          i.material-icons(style="font-size:0.7rem;") flag
      //- Button to delete the comment
      apollo-mutation(
          v-if="!activity.objectDeleted && (activity.actor.username === getActorOrId || isAdministrator || isModerator)"
          :mutation="$options.deleteNoteGql"
          :variables=`{
            pk: activity.object && activity.object.pk
          }`
          :refetchQueries="refetch"
        )
          template(v-slot="{ mutate, loading, error }")
            md-button.mr-1.md-hyperdense.md-icon-button.hideaction(
              data-tippy-content="Delete comment"
              data-tippy-placement="top"
              v-tippy
              :disabled="loading"
              @click="mutate()"
            )
              i.material-icons(style="font-size:0.7rem;") delete
      a(v-if="timestamp || activity.payload.object.updated || activity.payload.object.published || activity.creationDate" :href="canonicalUrl")
        timeago(:datetime="new Date(timestamp || activity.payload.object.updated || activity.payload.object.published || activity.creationDate)" :auto-update="20")

    //- Comment content
    div(v-if="activity" slot="content")
      avatar-chip(:actor="activity.actor")
      //- Header
      span.activity-header
        // Which activity
        | #[span(v-if="comment && ['Create'].indexOf(activity.payload.type) > -1 && activity.payload.object.inReplyTo") #[a(:href="'#' + activity.inReplyTo.id") {{ $t("activity reply") }}]  #[a(:href="activity.inReplyTo.actor.url") #[avatar-chip(v-if="activity.inReplyTo" :actor="activity.inReplyTo.actor")] #[strong(v-else) {{ activity.payload.object.inReplyTo }}]]]
        | #[span(v-else-if="comment && ['Create'].indexOf(activity.payload.type) > -1") {{ $t("activity comment") }} ]
        | #[span(v-else-if="corpus") {{ $t(`activity ${activity.payload.type}`) }} ]
        | #[span(v-else) {{ $t(`activity ${activity.payload.type}`) }} #[activity-object(:activity="activity")]]
        // How to name the entity related to the activity
        | #[span(v-if="activity.payload.object.inReplyTo")]

        // We are within a corpus page
        | #[span(v-else-if="corpus && ['Create', 'Import', 'Add'].indexOf(activity.payload.type) > -1")  this corpus]
        | #[span(v-else-if="corpus && ['Update'].indexOf(activity.payload.type) > -1")  the {{ description }}]
        //-| #[nuxt-link(v-else :to="localePath({ name: 'corpus-id', params: { id: activity.target.pk } })") {{ activity.target.title }}]
      //- Content
      div.mt-2(v-if="comment && activity.payload.object.content" v-html="content")
      div.mt-2(v-else-if="comment && activity.objectDeleted") [{{ $t('the comment was deleted') }}]
    div(v-else slot="content")

    .bottom-actions.hideaction(v-if="isAuthenticated")
      //- Button to reply
      //- TODO: deal with hierarchical comment threads first
      md-button.md-hyperdense(
        v-if="!activity.objectDeleted && !writingComment"
        @click="() => writingComment = true"
      )
        | #[span.mr-1 Reply ]
        | #[i.material-icons(tabindex="-1" style="font-size:1rem;") reply]

  comment-form(
    v-if="!activity.objectDeleted && writingComment"
    :id="corpusPk"
    :inReplyTo="activity.payload.object.id"
    :refetchQueries="refetchQueries"
    :initialContent="'@' + activity.actor.fullUsername + ' '"
    :placeholder="'corpus reply placeholder'"
    @cancel="() => writingComment = false"
  )
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import snarkdown from 'snarkdown'

import AvatarChip from '~/components/AvatarChip'
import CommentForm from '~/components/CommentForm'
import ActivityObject from '~/components/ActivityObject'

import deleteNoteGql from '~/apollo/mutations/deleteNote'

export default {
  deleteNoteGql,

  components: {
    AvatarChip,
    CommentForm,
    ActivityObject
  },
  props: {
    activity: {
      type: Object,
      default: () => {}
    },
    timestamp: {
      type: String,
      default: ''
    },
    /* eslint-disable */
    refetchQueries: {
      type: Array
    },
    corpus: Boolean,
    corpusPk: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      writingComment: false
    }
  },
  computed: {
    content() {
      return snarkdown(this.activity.payload.object.content)
    },
    comment() {
      return (
        ['Create'].indexOf(this.activity.payload.type) > -1 &&
        this.activity.payload.object.type === 'Note'
      )
    },
    description() {
      const d = JSON.parse(JSON.parse(this.activity.description))
      return d
        ? d
            .map(modification =>
              this.$options.filters.lowercase(this.$i18n.tc(`${modification}`))
            )
            .join(', ')
        : ''
    },
    canonicalUrl() {
      return this.activity.payload.object.fid || this.activity.payload.object.id
    },
    ...mapGetters('user', ['getActorOrId']),
    ...mapState('auth', ['isAuthenticated']),
    ...mapGetters('user', ['isAdministrator', 'isModerator'])
  },
  methods: {
    refetch() {
      return this.refetchQueries
    }
  }
}
</script>

<style lang="postcss" scoped>
.activity {
  background: rgb(var(--color-foreground));
  border-radius: 4px;
  padding: 20px;
  width: 100%;

  overflow: hidden;
  word-break: break-word;
  position: relative;
}
.activity:not(.comment),
.activity:not(:hover) {
  .hideaction {
    display: none;
  }
}
.activity-header {
  font-size: 90%;
}
.bottom-actions,
.upper-actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  font-size: 0.8em;
  color: rgb(var(--color-text-lighter), 1) !important;

  :not(:first-child) {
    margin-left: 2px;
  }

  a {
    color: rgb(var(--color-text-lighter), 1) !important;
  }
}
.upper-actions {
  top: 5px;
}
.bottom-actions {
  bottom: 0;
  right: 0;
}
.md-button {
  margin: 0;
  color: rgb(var(--color-text-lighter), 1) !important;
}
.comment-form {
  position: relative;
  top: 10px;
  margin-bottom: -10px;
}
</style>

<style>
.activity p {
  margin: 0;
}
</style>