<template lang="pug">
div.popover.popover-bottom
  avatar.c-hand(:name="displayName.substring(0, 2).toUpperCase()" :src="getAvatar && baseURL + getAvatar" :notifications="true")

  div.popover-container
    z-menu
      li.menu-item
        nuxt-link.menu-item(
          :to="{ path: profileRoute }"
          :disabled="!isSetup"
        )
          <z-icon tabindex="-1" name="account_circle"/> {{ $t('profile') }}
      li.divider
      li.menu-item
        nuxt-link.menu-item(:to="{ path: localePath('account-corpora') }")
          <z-icon tabindex="-1" name="local_library"/> {{ $tc('corpus', 2) | capitalize }}
          div.menu-badge(v-if="notificationsCorpora")
            label.label.label-primary 0
      li.menu-item
        nuxt-link.menu-item(:to="{ path: localePath('account-teams') }" disabled)
          <z-icon tabindex="-1" name="group"/> {{ $tc('organisation', 2) | capitalize }}
      li.divider
      li.menu-item
        nuxt-link.menu-item(:to="{ path: localePath('settings') }")
          <z-icon tabindex="-1" name="tune"/> {{ $t('settings') | capitalize }}
      li.menu-item
        nuxt-link.menu-item(v-if="isAdministrator" :to="{ path: localePath('settings') + '#dashboard' }")
          <z-icon tabindex="-1" name="settings"/> {{ $t('administration') }}
      li.menu-item
        nuxt-link.menu-item(v-if="isAdministrator" :to="{ path: localePath('settings') + '#reports' }")
          <z-icon tabindex="-1" name="gavel"/> {{ $t('moderation') }}
      li.menu-item
        nuxt-link.menu-item(v-on:click.native="onLogout" :to="{ path: localePath('home') }")
          <z-icon tabindex="-1" name="meeting_room"/> {{ $t('logout') | capitalize }}
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import Avatar from '~/components/Avatar'

import environment from '~/mixins/environment'

export default {
  components: {
    // logic components:
    Avatar
  },
  mixins: [environment],
  computed: {
    notificationsCorpora() {
      return false
    },
    ...mapGetters('user', [
      'isAdministrator',
      'isModerator',
      'getActorOrId',
      'isSetup',
      'displayName'
    ]),
    ...mapGetters('profile', ['getAvatar']),
    profileRoute() {
      /* eslint-disable */
      const route = this.getActorOrId
        ? this.localePath({
            name: 'id',
            params: { id: '@' + this.getActorOrId }
          })
        : this.localePath({ name: 'account-setup' })
      return route.replace(/\/+$/, '')
    }
  },
  methods: {
    async onLogout() {
      await this.$apolloHelpers.onLogout()
      this.logout()
    },
    ...mapMutations('auth', ['logout'])
  }
}
</script>

<style lang="postcss" scoped>
.menu {
  left: 30% !important;
  min-width: unset;
}

.popover-container {
  width: unset !important;
}

.popover.popover-bottom:focus + .popover-container,
.popover.popover-bottom:hover .popover-container {
  transform: translate(-82%, 0) scale(1);
}

a.menu-item {
  display: flex;
  align-items: center;
  flex: 1;

  & i {
    margin-right: 0.6rem;
  }
}
</style>
