<template lang="pug">
  figure.avatar(:class="{ ['avatar-' + size]: true, 'badge': showNotifications, 'square': square, 'square-up': squareUp }" :data-badge="0" :data-initial="name")
    img.u-photo(v-if="src" :src="src" :class="{ 'square': square, 'square-up': squareUp }")
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      default: 'lg'
    },
    name: {
      type: String,
      default: ''
    },
    src: {
      type: String,
      default: ''
    },
    square: {
      type: Boolean,
      default: false
    },
    squareUp: {
      type: Boolean,
      default: false
    },
    notifications: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    showNotifications() {
      // if the component was passed a parameter 'notifications' set to true,
      // and if the count of unread notifications is above zero, show the
      // count. (disabled until count is implemented)
      return this.notifications && false
    }
  }
}
</script>

<style>
.square {
  border-radius: 5% !important;
}

.square-up {
  border-radius: 5% 5% 0 0 !important;
}

.avatar-xxl {
  font-size: 2.6rem;
  height: 6.4rem;
  width: 6.4rem;
}

.avatar-xxxl {
  font-size: 3.6rem;
  height: 8.4rem;
  width: 8.4rem;
}
</style>
