<template lang="pug">
//- List of forms to compose a corpus. Two modes are available: 'create' and 'edit'.
//- 
//- 'create' and 'edit' vary in their buttons at the bottom, and in the buttons added
//- after each file upload.
div
  //- Vary header by mode
  h1(v-if="mode === 'create'") {{ $t('create') | capitalize }} {{ $t('a new', { thing: $tc('corpus') }) | lowercase }}
  h1(v-else) {{ $t('edit') | capitalize }} {{ corpus.draft ? $tc('draft') : '' | lowercase }} #[nuxt-link(:to="{ path: localePath({ name: 'corpus-id', params: { id: corpus.pk } } ) }") “{{ corpus.title }}”]

  //- Instructions should be the same for each mode
  .instructions.text-subtitle.text-gray.text-left.
    #[strong Instructions]:
    (i) Upload a minimum of one file and fill-in required fields.
    (ii) Click "Save > Save as Draft" to save your upload for editing later.
    (iii) When ready, press "Save > Save and Publish" to finalize and make your upload public.
  form.form-horizontal#createCorpusForm

    //- File upload section
    form-accordion(:name="$tc('corpus') + ' ' + $tc('file', 2)" required open)

      .DashboardContainer(:class="{ invalid: this.current.files.length === 0 && this.makeFileUploadInvalid }")

    //- Basic information section
    form-accordion(:name="$t('basic information')" required open)

      //- Title section
      .form-group.mt-2
        .col-3.col-sm-12
          label {{ $t('title') | capitalize }}
          div.text-subtitle.text-gray {{ $t('required') | capitalize }}
        .col-9.col-sm-12
          z-input(
            v-model="corpus.title"
            v-validate="{ required: true, max: 300, min: 5 }"
            data-vv-scope="basic"
            data-vv-as="corpus title"
            name="corpusTitle"
            maxlength="300"
            :class="{ 'has-error': errors.has('basic.corpusTitle') }"
          )
          .text-subtitle.text-gray.text-left(v-show="errors.has('basic.corpusTitle')")
            label.error {{ errors.first('basic.corpusTitle') }}
      
      //- Description section
      .form-group
        .col-3.col-sm-12
          label {{ $t('description') | capitalize }}
          .text-subtitle.text-gray {{ $t('required') | capitalize }}
        .col-9.col-sm-12
          vue-simplemde(
            v-model="corpus.description"
            v-validate="{ required: true, max: 5000 }"
            data-vv-scope="basic"
            data-vv-as="corpus description"
            name="corpusDescription"
            :class="{ 'has-error': errors.has('basic.corpusDescription') }"
            height="15rem"
            ref="markdownEditor"
            :configs="{ spellChecker: false }"
          )
          .mt-2.text-subtitle.text-gray.text-left(v-show="errors.has('basic.corpusDescription')")
            label.error {{ errors.first('basic.corpusDescription') }}

      //- Language(s) section
      .form-group
        .col-3.col-sm-12
          label {{ $tc('language', 1) | capitalize }}
          .text-subtitle.text-gray {{ $t('required') | capitalize }}
        .col-9.col-sm-12
          multiselect(
            v-model="corpus.language",
            deselect-label="Select another language to remove this language",
            track-by="name",
            label="nativeName",
            placeholder="Select the main language used in the corpus",
            :options="languages",
            :allow-empty="false"
            :custom-label="customLanguagesLabel"
          )
            template(slot="singleLabel", slot-scope="{ option }")
              | This corpus is written in
              strong  {{ option.name }}
          .text-subtitle.text-gray.text-left.
            Primary language of the record, by default set to your current locale. Start
            by typing the language's common name in English, or its ISO 639 code (two or
            three-letter code).

      //- License(s) section
      .form-group
        .col-3.col-sm-12
          label {{ $tc('license', 1) | capitalize }}
          .text-subtitle.text-gray {{ $t('required') | capitalize }}
        .col-9.col-sm-12
          multiselect(
            v-model="corpus.license",
            deselect-label="Select another license to remove this license",
            track-by="licenseId",
            label="name",
            placeholder="Select a license under which third parties may use your corpus",
            :options="licenses",
            :allow-empty="false"
            :custom-label="customLicensesLabel"
          )
            template(slot="singleLabel", slot-scope="{ option }")
              | This corpus is licensed under
              strong  {{ option.name }}
          .text-subtitle.text-gray.text-left.
            Selected license applies to all of your files displayed on the top of the form.
            If you want to mark some of your files under different licenses, please do so
            in a LICENSE file. If you cannot find the license you're looking for, include
            a relevant LICENSE file in your record and choose one of the Other licenses
            available (#[strong Other (Open)], #[strong Other (Attribution)], etc.).
      
      //- Author(s) section
      entity-select(
        v-model="corpus.authors"
        entity="author"
        :self="false"
        role
      )

    //- Extra information section
    form-accordion(:name="$t('extended information')")

      //- Original publication date
      .form-group.mt-2
        .col-3.col-sm-12
          label {{ $t('original publication date') | capitalize }}
        .col-9.col-sm-12
          z-input(
            type="date"
            v-model="corpus.originalPublicationAt"
            v-validate="`date_format:yyyy-MM-dd|date_between:1665-01-05,${formatDate(new Date())}`"
            name="corpusOriginalPublicationDate"
            data-vv-scope="extended"
            data-vv-as="corpus original publication date"
            :class="{ 'has-error': errors.has('extended.corpusOriginalPublicationDate') }"
          )
          .text-subtitle.text-gray.text-left(v-show="errors.has('extended.corpusOriginalPublicationDate')")
            label.error(v-html="errors.first('extended.corpusOriginalPublicationDate')")
      
      //- Organisations (Groups/Teams) involved
        entity-select(
          v-model="corpus.organisations"
          entity="organisation"
          placeholder="Organisation/Group name"
          role
        )
      
      //- Contributor(s)
        entity-select(
          v-model="corpus.contributors"
          :self="true"
          role
        )

      //- Category
      .form-group
        .col-3.col-sm-12
          label {{ $tc('category', 2) | capitalize }}
        .col-9.col-sm-12
          multiselect(
            v-model="typesSelected"
            track-by="name"
            label="name"
            :placeholder="$t('add category')"
            :multiple="true"
            :options="types"
            :allow-empty="true"
            :limit="3"
          )
            template(slot="option", slot-scope="props")
              strong.option__title {{ props.option.name }} #[br]
              span.option__small {{ props.option.description }}


      //- Tags
      .form-group
        .col-3.col-sm-12
          label {{ $tc('tag', 2) | capitalize }}
        .col-9.col-sm-12
          multiselect(
            v-model="tagsSelected",
            track-by="name",
            label="name",
            :tag-placeholder="$t('add new tag')",
            :placeholder="$t('search new tag')",
            :multiple="true",
            :searchable="true"
            :loading="isLoading"
            :internal-search="false"
            :options="corpus.tags"
            :allow-empty="true"
            :clear-on-select="false"
            :close-on-select="false"
            :options-limit="20"
            :limit="5"
            @search-change="asyncFindTag"
          )
            template(slot="option", slot-scope="props")
              strong.option__title {{ props.option.name }} #[br]
              span.option__small {{ props.option.description }}
          .text-subtitle.text-gray.text-left.
            Describe your corpus with tags: it helps finding your corpus and quickly understand what it contains.
            Tags use semantic definitions feched from WikiData, so they are language-independent. If no definition
            is found for the text you typed, you can press enter to add it anyway.

      //- Related resources
      relation-select(v-model="corpus.related")
        .text-subtitle.text-gray.
          Specify identifiers of related publications and datasets. Supported identifiers include: DOI, Handle, 
          ARK, PURL, ISSN, ISBN, PubMed ID, PubMed Central ID, ADS Bibliographic Code, arXiv, Life Science 
          Identifiers (LSID), EAN-13, ISTC, URNs and URLs.

      //- DOI
      .form-group
        .col-3.col-sm-12
          label Digital Object Identifier
        .col-9.col-sm-12
          z-input(
            type="url"
            v-model="corpus.digitalObjectIdentifier"
            :v-validate="{url: {require_protocol: true }}"
            name="corpusOriginalPublicationDate"
            data-vv-scope="extended"
            data-vv-as="corpus DOI"
            placeholder="e.g. 10.1234/foobar.567890"
            :class="{ 'has-error': errors.has('extended.corpusDOI') }"
          )
          .text-subtitle.text-gray.text-left(v-show="errors.has('extended.corpusDOI')")
            label.error(v-html="errors.first('extended.corpusDOI')")
          .text-subtitle.text-gray.text-left.
            Persistent identifier already assigned to your corpus by your publisher. This OLKi instance doesn't
            provide DOI on demand.

    //- Discussion settings section
    form-accordion(:name="$t('discussion settings')")

      //- Disable discussions?
      .form-group.mt-2
        .col-3.col-sm-12
          label {{ $tc('permission', 2) | capitalize }}
        .col-9.col-sm-12
          z-switch(v-model="corpus.commentsAllowed")
            .label-text Discussions
            .label-hint Comments are shown along the corpus, and new ones can be added.
          //-
            z-switch(:value="true" disabled)
              .label-text Limit to local discussions
              .label-hint New comments can only be added by users of the instance hosting the corpus.

  save-row(v-if="mode === 'create'"
    @cancel="cancel"
    @save="saveAsDraft"
    @publish="publish"
  )
  save-row(v-if="mode === 'edit'"
    @cancel="cancel"
    @save="save({ draft: true })"
    @publish="save({ draft: false })"
  )
    template(slot="cancel")
      md-button.md-primary.col-mr-auto(md-menu-trigger @click="deleteForEdit()").
        {{ $t('delete') | capitalize }}
</template>

<script>
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'

import Uppy from '@uppy/core'
import Dashboard from '@uppy/dashboard'
import Tus from '@uppy/tus'
import Form from '@uppy/form'
import '@uppy/core/dist/style.css'
import '@uppy/dashboard/dist/style.css'
import VueSimplemde from 'vue-simplemde'

import CorpusSaveButtonRow from '~/components/CorpusSaveButtonRow'
import CorpusFileIndicator from '~/components/CorpusFileIndicator'
import FormAccordion from '~/components/FormAccordion'
import FormEntitySelect from '~/components/FormEntitySelect'
import FormRelationSelect from '~/components/FormRelationSelect'

import { pick } from '~/utilities/objects'
import environment from '~/mixins/environment'

/* eslint-disable-next-line */
import languages from '~/assets/data/languages.js'
import { licenses } from '~/assets/data/licenses.json'
import types from '~/assets/data/corpusTypes.js'

const wdk = require('wikidata-sdk')

const currentLicenses = licenses.filter(license => {
  return license.isDeprecatedLicenseId === false
})
currentLicenses.push(
  { licenseId: 'other-open', name: 'Other (Open)' },
  { licenseId: 'other-attribution', name: 'Other (Attribution)' },
  { licenseId: 'other-non-commercial', name: 'Other (Non-Commercial)' },
  { licenseId: 'other-not-open', name: 'Other (Not Open)' },
  { licenseId: 'other-public-domain', name: 'Other (Public Domain)' }
)

const UppyFileIndicator = Vue.extend(CorpusFileIndicator)

export default {
  components: {
    'save-row': CorpusSaveButtonRow,
    FormAccordion,
    'entity-select': FormEntitySelect,
    'relation-select': FormRelationSelect,
    VueSimplemde
  },
  mixins: [environment],
  props: {
    value: {
      type: Object,
      default: () => {} // is spread-added to this.corpus at 'mounted'
    },
    mode: {
      type: String,
      default: 'edit' // can be 'edit', 'create'
    }
  },
  data() {
    return {
      // editor-related
      editorOptions: {
        usageStatistics: false,
        hideModeSwitch: false,
        toolbarItems: [
          'heading',
          'bold',
          'italic',
          'strike',
          'divider',
          'hr',
          'quote',
          'divider',
          'ul',
          'ol',
          'task',
          'divider',
          'link',
          'divider',
          'code',
          'codeblock'
        ]
      },
      editorHtml: '',
      editorVisible: true,

      // languages-related
      languages,

      // licenses-related
      licenses: currentLicenses,

      // tags-related
      tagsSelected: [
        {
          name: 'Science',
          id: 'wikidata.org/entity/Q336',
          description: 'study and knowledge of the natural world'
        }
      ],
      types,
      typesSelected: [],
      isLoading: false,

      // other fields
      makeFileUploadInvalid: false,
      corpus: {
        title: '',
        description: '',
        language: languages.find(
          language => language.code === this.$i18n.locale
        ),
        license: currentLicenses.find(
          license => license.licenseId === 'CC0-1.0'
        ),
        originalPublicationAt: null,
        authors: null,
        commentsAllowed: true,
        tags: [
          {
            name: 'Science',
            id: 'wikidata.org/entity/Q336',
            description: 'study and knowledge of the natural world'
          }
        ],
        related: null,
        digitalObjectIdentifier: ''
      }
    }
  },
  computed: {
    ...mapGetters('corpora', ['current']),
    isBasicInformationValid() {
      return !this.errors.has('basic.*')
    },
    isAllInformationValid() {
      return (
        this.current.files.length > 0 &&
        !this.errors.has('basic.*') &&
        !this.errors.has('extended.*')
      )
    }
  },
  methods: {
    loadUppy() {
      /* eslint-disable */
      this.$nextTick().then(() => {
        const uppy = Uppy({
          debug: false,
          autoProceed: false,
          restrictions: {
            maxFileSize: 4294967296,
            minNumberOfFiles: 1
            //allowedFileTypes: ['image/*', 'video/*']
          }
        })
          .use(Tus, {
            endpoint: `${this.baseURL}/files/`,
            withCredentials: true,
            headers: {
              /* authorization header is dealt with by Django Rest Framework, and since
               * the user authentifies via GraphQL (through graphql_jwt), the latter
               * defines the token name 'JWT'. */
              Authorization: `JWT ${this.$apolloHelpers.getToken()}`
            }
          })
          .use(Dashboard, {
            inline: true,
            target: '.DashboardContainer',
            proudlyDisplayPoweredByUppy: false,
            replaceTargetContent: true,
            hideCancelButton: true, // only applies to the upload bar below, but important to prevent closing the whole upload zone.
            showProgressDetails: true,
            // showLinkToFileUploadResult: false,
            note: '(minimum 1 file required)',
            height: '20rem',
            width: '100%',
            metaFields: [
              {
                id: 'name',
                name: 'Name',
                placeholder: 'file name'
              },
              {
                id: 'description',
                name: 'Description',
                placeholder: 'describe what the file is about'
              }
            ],
            plugins: ['Tus'],
            browserBackButtonClose: false
          })
        uppy.use(Form, {
          target: '#createCorpusForm',
          getMetaFromForm: false,
          addResultToForm: false,
          resultName: 'uploadResult',
          triggerUploadOnSubmit: true,
          submitOnSuccess: false
        })

        if (this.mode === 'create') {
          if (this.current.files.length > 0) {
            this.current.files.forEach(file => {
              uppy.addFile({
                isRemote: true, // optional, set to true if actual file is not in the browser, but on some remote server, for example, when using companion in combination with the uppy plugin 'Companion'
                ...file
              })
            })
          }

          Object.keys(uppy.state.files).forEach(fileID => {
            // https://uppy.io/docs/uppy/#uppy-setFileState-fileID-state
            uppy.setFileState(fileID, {
              progress: { uploadComplete: true, uploadStarted: true }
            })

            this.addButton('delete', fileID, uppy)
          })
        } else if (this.mode === 'edit') {
          if (this.corpus.files && this.corpus.files.length > 0) {
            this.corpus.files.forEach(async file => {
              const blob = file.filetype.match('image.*')
                ? await fetch(this.baseURL + '/media/' + file.url).then(r =>
                    r.blob()
                  )
                : ''

              const baseFile = {
                ...file,
                name: file.name,
                type: file.filetype,
                data: blob,
                source: 'Remote',
                isRemote: true,
                preview: file.filetype.match('image.*')
                  ? this.baseURL + '/media/' + file.url
                  : undefined
              }
              uppy.addFile(baseFile)

              const addedFile = Object.values(uppy.state.files).find(
                f => f.name === file.name
              )

              // https://uppy.io/docs/uppy/#uppy-setFileState-fileID-state
              uppy.setFileState(addedFile.id, {
                progress: { uploadComplete: true, uploadStarted: true },
                uploadURL: this.baseURL + '/media/' + file.url
              })

              this.addButton('edit', addedFile.id, uppy)
              this.addButton('delete', addedFile.id, uppy)
            })
          }
        }

        uppy.on('file-added', file => {
          console.log('added file:', file)
        })

        uppy.on('upload-success', (file, data) => {
          uppy.setFileState(file.id, { uploadURL: '' }) // remove preview and link, since they are not public yet
          file.guid = data.uploadURL.split('/').slice(-2)[0]
          this.$store.commit('corpora/addCurrentFile', file)

          this.addButton('delete', file.id, uppy)
        })

        uppy.on('complete', result => {
          if (result.successful.length > 0) {
            const fileURI = result.successful[0].uploadURL
            const uriParts = fileURI.split('/')
            //console.log(uriParts[uriParts.length - 1])
          }
        })
      })
    },

    /* languages-related methods */
    customLanguagesLabel({ code, name, nativeName }) {
      return `${nativeName} – ${name} (${code})`
    },

    /* languages-related methods */
    customLicensesLabel({ name, licenseId }) {
      return `${name} (${licenseId})`
    },

    /* tag-related methods */
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      }
      this.tags.push(tag)
      this.tagsSelected.push(tag)
    },
    asyncFindTag(query) {
      if (!query) return
      this.isLoading = true
      fetch(wdk.searchEntities(query))
        .then(response => response.json())
        .then(data => {
          if (!data.search) return
          this.corpus.tags = data.search.map(res => {
            return {
              ...pick(res, ['concepturi', 'description']),
              name: res.label,
              id: 'wikidata.org/entity/' + res.id
            }
          })
          this.isLoading = false
        })
        .catch(error => console.error(error))
    },

    /* form-related methods */
    ...mapActions('corpora', ['createCorpus', 'editCorpus', 'deleteCorpus']),
    deleteForEdit() {
      this.$store.commit('corpora/removeOpenCorpora', {
        pk: this.corpus.pk,
        title: this.corpus.title
      })
      this.$router.push(this.localePath('account-corpora'))
      this.deleteCorpus(this.corpus.pk)
      //TODO: delete files already uploaded
      this.$toast.success('Corpus deleted', { icon: 'delete_sweep' })
    },
    cancel() {
      this.$store.commit('corpora/resetCurrent')
      //TODO: delete files already uploaded
      this.$router.push(this.localePath('account-corpora'))
      this.$toast.success('Corpus creation cancelled', { icon: 'delete_sweep' })
    },
    async saveAsDraft() {
      await this.$validator.validate()
      if (!this.isBasicInformationValid) {
        this.$toast.error('Your information still has formatting issues', {
          icon: 'warning'
        })
      } else {
        const res = await this.createCorpus({
          input: {
            title: this.corpus.title,
            description: this.corpus.description,
            digitalObjectIdentifier: this.corpus.digitalObjectIdentifier,
            language: this.corpus.language.code,
            license: this.corpus.license.licenseId,
            draft: true,
            originalPublicationAt: this.corpus.originalPublicationAt
              ? new Date(this.corpus.originalPublicationAt)
                  .toISOString()
                  .slice(0, 19)
              : null,
            files: this.current.files.map(file => file.guid),
            tags: JSON.stringify(this.tagsSelected.concat(this.typesSelected)),
            authors: JSON.stringify(this.corpus.authors),
            related: JSON.stringify(this.corpus.related),
            commentsAllowed: this.corpus.commentsAllowed
          }
        })
        if (res.errors.length === 0) {
          this.$store.commit('corpora/resetCurrent')
          this.$toast.success('Successfully saved as draft', { icon: 'check' })
          this.$router.push(
            this.localePath({
              name: 'account-corpora-edit-id',
              params: { id: res.corpus.pk }
            })
          )
        } else {
          this.$toast.error('Error saving corpus as draft', { icon: 'warning' })
        }
      }
    },
    async save(parameters) {
      await this.$validator.validate()
      if (!this.isBasicInformationValid) {
        this.$toast.error('Your information still has formatting issues', {
          icon: 'warning'
        })
      } else {
        const res = await this.editCorpus({
          input: {
            title: this.corpus.title,
            description: this.corpus.description,
            digitalObjectIdentifier: this.corpus.digitalObjectIdentifier,
            language: this.corpus.language.code,
            license: this.corpus.license.licenseId,
            draft: parameters.draft,
            originalPublicationAt: this.corpus.originalPublicationAt
              ? new Date(this.corpus.originalPublicationAt)
                  .toISOString()
                  .slice(0, 19)
              : null,
            files: this.current.files.map(file => file.guid),
            tags: JSON.stringify(this.tagsSelected.concat(this.typesSelected)),
            authors: JSON.stringify(this.corpus.authors),
            related: JSON.stringify(this.corpus.related),
            commentsAllowed: this.corpus.commentsAllowed,
            pk: this.corpus.pk
          }
        })
        if (res.errors.length === 0) {
          this.$toast.success('Successfully edited', { icon: 'check' })
          this.$store.commit('corpora/removeOpenCorpora', {
            pk: this.corpus.pk,
            title: this.corpus.title
          })
          this.$store.commit('corpora/addOpenCorpora', {
            pk: this.corpus.pk,
            title: this.corpus.title
          })
        } else {
          this.$toast.error('Error editing corpus', { icon: 'warning' })
        }
      }
    },
    async publish() {
      await this.$validator.validate()
      if (!this.isAllInformationValid) {
        this.makeFileUploadInvalid = true
        this.$toast.error('Your information still has formatting issues', {
          icon: 'warning'
        })
      } else {
        const res = await this.createCorpus({
          input: {
            title: this.corpus.title,
            description: this.corpus.description,
            digitalObjectIdentifier: this.corpus.digitalObjectIdentifier,
            language: this.corpus.language.code,
            license: this.corpus.license.licenseId,
            draft: false,
            originalPublicationAt: this.corpus.originalPublicationAt
              ? new Date(this.corpus.originalPublicationAt)
                  .toISOString()
                  .slice(0, 19)
              : null,
            files: this.current.files.map(file => file.guid),
            tags: JSON.stringify(this.tagsSelected.concat(this.typesSelected)),
            authors: JSON.stringify(this.corpus.authors),
            related: JSON.stringify(this.corpus.related),
            commentsAllowed: this.corpus.commentsAllowed
          }
        })
        if (res.errors.length === 0) {
          this.$store.commit('corpora/resetCurrent')
          this.$toast.success('Successfully published', { icon: 'check' })
          this.$router.push(
            this.localePath({
              name: 'corpus-id',
              params: { id: res.corpus.pk }
            })
          )
        } else {
          this.$toast.error('Error publishing corpus', { icon: 'warning' })
        }
      }
    },
    formatDate(date) {
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      if (month.length < 2) month = '0' + month
      if (day.length < 2) day = '0' + day

      return [year, month, day].join('-')
    },
    addButton(action, id, uppy) {
      setTimeout(() => {
        // injecting HTML in the Uppy (React) component to add a button
        const newHTMLElement = new Vue({
          parent: this,
          render: h =>
            h(UppyFileIndicator, {
              props: {
                action: action,
                id: id,
                uppy: uppy,
                withRemote: this.mode === 'create' ? false : true
              }
            })
        })
        newHTMLElement.$mount()
        const receiverHTMLElement = document.getElementById('uppy_' + id)
          .children[0].children[1]
        receiverHTMLElement.appendChild(newHTMLElement.$el)
      })
    }
  },
  mounted() {
    if (this.value) {
      Object.assign(this.corpus, this.value)

      // transform language code in language object
      this.corpus.language = languages.find(
        language => language.code === this.corpus.language
      )
      // transform license code in license object
      this.corpus.license = currentLicenses.find(
        license => license.licenseId === this.corpus.license
      )
      // transform ISO date to yyyy-MM-dd (if any date exists)
      if (this.corpus.originalPublicationAt)
        this.corpus.originalPublicationAt = this.corpus.originalPublicationAt.split(
          'T'
        )[0]
      // transform tags and categories, and select them
      if (this.corpus.tags) {
        this.typesSelected = this.corpus.tags.filter(
          tag => types.map(type => type.code).indexOf(tag.code) >= 0
        )
        this.corpus.tags = this.corpus.tags.filter(
          tag => types.map(type => type.code).indexOf(tag.code) < 0
        )
        this.tagsSelected = this.corpus.tags
      }
    }

    // initialize file upload component (it's a Preact self-contained third-party app, so we can just call its methods and patch it)
    this.loadUppy()
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style lang="postcss" scoped>
h1,
p,
.instructions {
  margin-left: 1rem;
  text-align: left;
}

h1 {
  font-size: 1rem;
}

label.error {
  color: #e85600;
  margin-left: 0.5rem;
}
</style>

<style>
.DashboardContainer.invalid .uppy-Dashboard div.uppy-Dashboard-inner {
  border: 0.05rem solid #e85600;
}
</style>

<style>
.multiselect,
.multiselect__input,
.multiselect__single,
.multiselect--active div input,
.multiselect--active {
  font-size: 0.9em !important;
  color: rgba(var(--color-text), 1) !important;
}
.multiselect__tag {
  background: rgba(var(--color-primary), 1) !important;
}
.multiselect__tag-icon:hover {
  background: rgba(var(--color-foreground), 0.4) !important;
}
.multiselect__tag-icon::after {
  color: rgba(var(--color-foreground), 1) !important;
}
.invalid .multiselect__tags {
  border-color: #e85600;
}
</style>

<style>
@import 'simplemde/dist/simplemde.min.css';

.markdown-editor {
  text-align: left;
}
</style>