<template lang="pug">
  button.s-circle.uppy-DashboardItem-progressIndicator(
    type="button"
    :aria-label="actionText"
    :title="actionText"
    @click="onClick"
  )
    i.material-icons.UppyIcon.UppyIcon-progressCircle.c-hand(tabindex="-1") {{ action }}
</template>

<script>
export default {
  props: {
    action: {
      type: String,
      default: 'delete'
    },
    id: {
      type: String,
      default: ''
    },
    uppy: {
      type: Object,
      default: () => {}
    },
    withRemote: Boolean
  },
  computed: {
    actionText() {
      return this.$options.filters.capitalize(this.action) + ' remote file'
    }
  },
  methods: {
    onClick() {
      switch (this.action) {
        case 'edit':
          console.log('TODO: open modal to edit file metadata')
          break

        case 'delete':
        default:
          this.uppy.removeFile(this.id)
          this.$store.commit('corpora/removeCurrentFileID', this.id)
          break
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
button {
  background: rgba(var(--color-text-lighter), 1) !important;
  width: 20px !important;
  height: 20px !important;
  position: relative;
  top: -1px;

  &:not(:first-child) {
    margin-right: 1px;
  }
}

.UppyIcon {
  font-size: 14px;
  padding-top: 3px;
}
</style>
