<template lang="pug">
  .corpuslist(v-intro="'This is where corpora are listed, both local and harvested from other repositories (denoted with a coloured ribbon). Clicking on one leads you to its page, listing more information and discussions about the corpus.'")
    .grid.gridlist
      //- columns
      .grid-col.grid-col--1
      .grid-col.grid-col--2
      .grid-col.grid-col--3
      .grid-col.grid-col--4
      //- items
      .grid-item(v-for="(corpus, index) in corpora" :key="index")
        corpus-card(:corpus="corpus" :index="index")
</template>

<script>
/* eslint-disable */
import Vue from 'vue'
import VueColcade from 'vue-colcade'

/* light masonry equivalent */
Vue.use(VueColcade)

import lazyLoadComponent from '~/utilities/lazy-load-component.js'
import Centered from '~/components/sublayouts/Centered.vue'
import SkeletonBox from '~/components/SkeletonBox.vue'

/* default parameters for the lazyLoadComponent */
const defaultCardLoaderOptions = {
  loading: SkeletonBox,
  loadingData: {
    props: {
      width: `100%`,
      height: `10em` /* expected height of the CorpusCard */
    }
  }
}

export default {
  components: {
    // logic components:
    CorpusCard: lazyLoadComponent({
      ...defaultCardLoaderOptions,
      componentFactory: () => import('~/components/CorpusCard.vue')
    })
  },
  props: {
    corpora: {
      type: Array,
      default: () => []
    }
  },
  created() {
    /* nextTick allows us to do something after we have changed the data and VueJS
     * has updated the DOM based on data change, but before the browser has rendered
     * those changed on the page.
     */
    this.$nextTick(() => this.createColcade())
  },
  async mounted() {
    this.createColcade()
  },
  methods: {
    createColcade() {
      if (!this.corpora) return
      this.$colcade.create({
        name: 'corpuslist', // name of colcade instance -> will be used as a reference for grid instance
        el: '.gridlist', // element that hosts the grid -> as mentioned in Colcade config
        config: {
          // native Colcade configuration -> as mentioned in Colcade config
          columns: '.grid-col',
          items: '.grid-item'
        }
      })
    }
  }
}
</script>

<style lang="postcss">
.corpuslist {
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.col-header {
  text-align: left;
}

.gridlist {
  /* allows to scale to the size of .corpuslist */
  flex-grow: 1;
}

/* with flexbox */
.grid {
  display: flex;
  width: 90%;
}

.grid-col:not(:first-child) {
  margin-left: 1.2rem;
}

.grid-item:not(:last-child) {
  margin-bottom: 1rem;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--3,
.grid-col--4 {
  display: none;
}
.grid-col--1,
.grid-col--2 {
  width: calc(100% / 2 - 0.6rem);
}

/* 3 columns at medium size */
@media (width >= 1050px) {
  /* impact on visibility */
  .grid-col--3 {
    display: block;
  } /* show column 3 */

  /* impact on size */
  .grid-col--1,
  .grid-col--2,
  .grid-col--3 {
    width: calc(100% / 3 - 0.6rem);
  }
}

/* 4 columns at large size */
@media (width >= 1750px) {
  /* impact on visibility */
  .grid-col--4 {
    display: block;
  } /* show column 3 */

  /* impact on size */
  .grid-col--1,
  .grid-col--2,
  .grid-col--3,
  .grid-col--4 {
    width: calc(100% / 4 - 0.6rem);
  }
}
</style>
