<template lang="pug">
fieldset.form-group.mb-2(:disabled="disabled")
  .col-3.col-sm-12
    label {{ $tc('relation', 2) | capitalize }}
    .text-subtitle.text-gray(v-if="required") {{ $t('required') | capitalize }}
  
  .col-9.col-sm-12
    .col-12.d-flex.mt-1(v-for="(el, index) in innerValue" :key="index")
      .col-7.col-sm-12
        .form-group
          input.form-input.input-left(
            @input="() => $emit('input', emittedValue)"
            :placeholder="placeholder"
            v-model="el.link" :name="'relationName-'+index" :v-validate="{url: {require_protocol: true }}" placeholder="e.g. https://example.org/ark:/13030/654xz321/" type="url"
            :class="{ 'has-error': errors.has('relationName-'+index) }"
          )
      .col-5.col-sm-12
        select.form-select(
          v-model="el.relation"
          @input="() => $emit('input', emittedValue)"
          @change="() => $emit('input', emittedValue)"
        )
          option
          //- DataCite Metadata Scheme
          option(value="isCitedBy") cites this corpus
          option(value="cites") is cited by this corpus
          option(value="isSupplementTo") is supplemented by this corpus
          option(value="isSupplementedBy") is a supplement to this corpus
          option(value="references") is referenced by this corpus
          option(value="isReferencedBy") references this corpus
          option(value="isNewVersionOf") is previous version of this corpus
          option(value="isPreviousVersionOf") is new version of this corpus
          option(value="isPartOf") has this corpus as part
          option(value="hasPart") is part of this corpus
          option(value="isDocumentedBy") documents this corpus
          option(value="documents") is documented by this corpus
          option(value="compiles") is compiled/created by this corpus
          option(value="isCompiledBy") compiled/created this corpus
          option(value="isIdenticalTo") is identical to this corpus
          option(value="isAlternateIdentifier") is an alternate identifier of this corpus
      .col-1.col-sm-12.d-flex(style="align-items:center;" :class="{ 'c-not-allowed': disabled }")
        i.material-icons.ml-2(
          tabindex="-1"
          style="font-size:0.9rem;"
          v-on:click="delRelation(index)"
          :class="{ 'c-not-allowed': disabled, 'c-hand': !disabled }"
        ) cancel

  .col-3.col-sm-12
  .col-9.col-sm-12.text-left
    button.btn.btn-sm.btn-link.mr-2.mt-1(type="button" @click="addRelation('')") {{ $t('add', { thing: $tc('relation', 1) }) | lowercase | capitalize({ onlyFirstLetter: true }) }}
    button.btn.btn-sm.btn-link.col-mr-auto.mt-1(v-if="self" type="button" @click="addRelation('')") {{ $t('add', { thing: 'self as ' + $tc('relation', 1) }) | lowercase | capitalize({ onlyFirstLetter: true }) }}
  
  .col-3.col-sm-12
  .col-9.col-sm-12.text-left
    slot
</template>

<script>
export default {
  props: {
    self: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: 'URL'
    },
    required: Boolean,
    disabled: Boolean,
    value: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      innerValue: []
    }
  },
  computed: {
    valid() {
      return true
    },
    emittedValue() {
      return this.innerValue.filter(v => v.link !== '' && v.relation !== '')
    }
  },
  mounted() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      this.innerValue =
        this.value === null || this.value === [] || this.value === undefined
          ? [
              {
                link: '',
                relation: ''
              }
            ]
          : typeof this.value === 'string'
          ? JSON.parse(this.value)
          : this.value
      this.$emit('input', this.emittedValue)
    })
  },
  methods: {
    addRelation(link) {
      this.innerValue.push({
        link,
        relation: ''
      })
    },
    delRelation(index) {
      if (!this.disabled) this.innerValue.splice(index, 1)
      this.$emit('input', this.emittedValue)
    }
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style scoped>
.input-middle,
.input-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-middle,
.input-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
</style>
