<template lang="pug">
pending-functionality(name="History" icon="history")
</template>

<script>
import PendingFunctionality from '~/components/PendingFunctionality'

export default {
  components: {
    PendingFunctionality
  }
}
</script>
