<template lang="pug">
pending-functionality(name="List of new corpora pending review" icon="local_library")
</template>

<script>
import PendingFunctionality from '~/components/PendingFunctionality'

export default {
  components: {
    PendingFunctionality
  }
}
</script>
