<template lang="pug">
div.popover.popover-bottom
  a.btn.btn-link
    slot
  div.popover-container
    z-menu
      slot(name="container")
</template>

<style scoped>
a i {
  margin-right: 0.6rem;
}
a {
  color: rgba(var(--color-text), 1) !important;
}
.menu {
  background: rgba(var(--color-background), 1);
  z-index: 1;
}
</style>
