<template lang="pug">
div
  div.divider.text-center(:data-content="$t('user list')")
  vue-good-table.ml-2(
    :columns="columns"
    :rows="userlist.rows"
    styleClass="vgt-table condensed table table-hover"
    :sort-options="{ enabled: true, initialSortBy: [ {field: 'email', type: 'asc'} ] }"
    :pagination-options="{ enabled: true, mode: 'records', perPage: 20 }"
    :search-options="{ enabled: true, skipDiacritics: true, placeholder: $t('search users') }"
    :select-options="{ enabled: true, selectOnCheckboxOnly: true }"
  )
    template(slot="table-row" slot-scope="props")
      span(v-if="props.column.field == 'profile'")
        nuxt-link.chip.c-hand(v-if="props.formattedRow[props.column.field].username" :to="localePath({ name: 'id', params: { id: '@' + props.formattedRow[props.column.field].username } })")
          img.avatar.avatar-sm(v-if="props.formattedRow[props.column.field].image" :src="baseURL + props.formattedRow[props.column.field].image")
          span {{ props.formattedRow[props.column.field].username }}
        //avatar-chip(:user="props.formattedRow[props.column.field]")
      span(v-else) {{ props.formattedRow[props.column.field] }}
    template(slot="emptystate")
      span Loading users…
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table'

import AvatarChip from '~/components/AvatarChip'

import listUsersGql from '~/apollo/queries/listUsers'

import environment from '~/mixins/environment'

export default {
  components: {
    VueGoodTable,
    AvatarChip
  },
  mixins: [environment],
  data() {
    return {
      initialized: false,
      columns: [
        {
          label: 'Name',
          field: 'name'
        },
        {
          label: 'Email',
          field: 'email'
        },
        {
          label: 'Profile',
          field: 'profile'
        }
      ],
      userlist: {
        rows: []
      }
    }
  },
  apollo: {
    userlist: {
      query: listUsersGql,
      variable() {
        return {
          first: 20
        }
      },
      update: data => {
        return {
          // ...data.users,
          rows: data.users.edges
            .map(edge => edge.node)
            .map((element, index) => {
              return {
                id: index,
                name: element.name,
                email: element.email,
                isAdministrator: element.isAdministrator,
                isModerator: element.isModerator,
                username: element.actor ? element.actor.username : '',
                image: element.profile.avatar,
                profile: {
                  image: element.profile.avatar,
                  username: element.actor ? element.actor.username : ''
                }
              }
            })
        }
      },
      result({ data, loading, networkStatus }) {
        this.initialized = true
      }
    }
  }
}
</script>

<style lang="postcss">
table.vgt-table {
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
}

.vgt-table thead th {
  background: none !important;
}

.vgt-table th.sorting::after {
  border-bottom: 6px solid rgba(var(--color-primary), 1) !important;
}

.vgt-checkbox-col,
.vgt-wrap__footer,
.vgt-global-search {
  background: none !important;
  border: none !important;
}

.vgt-select,
.vgt-input {
  font-size: 0.7rem !important;
  border-radius: 0.1rem !important;

  &:focus {
    border-color: rgba(var(--color-primary), 0.8);
  }
}
</style>
