<template lang="pug">
  DefaultLayout
    centered-menu
      //- Left pane is a sticking menu that allow to quickly jump from section to section
      div.columns.corpora-left-pane
        account-corpora-nav
      //- Right pane is the page content
      div.columns.corpora-right-pane
        nuxt
</template>

<script>
import DefaultLayout from '~/layouts/default.vue'
import CenteredMenu from '~/components/sublayouts/CenteredMenu.vue'
import AccountCorporaNav from '~/components/AccountCorporaNav.vue'

export default {
  components: {
    DefaultLayout,
    CenteredMenu,
    AccountCorporaNav
  }
}
</script>

<style lang="postcss" scoped>
.columns {
  flex-direction: column;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}

.corpora-left-pane {
  text-align: right;
}

.corpora-right-pane {
  box-shadow: -20px 0 10px -10px rgba(0, 0, 0, 0.06);
}
</style>
